.photo{
    width: 200px;
    height: 230px;
    margin: 10px;
    border: 5px solid red;
}

.photo p{
    text-align: center;
    margin: 5px 5px;
}

img{
    width: 200px;
    height: 200px;
}